table {
  width: 100%;
}

.product-container{
  margin-top: 10px;
}

.custom-container {
  margin-left: 100px;
  width: calc(100% - 115px);
}

.custom-btn-link{
  margin-left: 5px;
  color: #fff;
}

.custom-btn-link .glyphicon{
  color: #fff;
}

.custom-mat-cell{
  width: 120px;
}


.card-deck {
  display: flex;
  justify-content: flex-start;
  flex-flow: row wrap;
  align-items: stretch;
}
.card-deck .card {
  display: block;
  flex-basis: calc( 25% - 20px);
  margin: 10px;
  min-width: 270px;
}

.custom-brand{
  width: 100%;
  align-content: center;
  text-align: center;
  padding: 10px;
}

.custom-brand .glyphicon{
  font-size: 60px;
}

.btn-custom-link{
  color: #fff!important;
    display: block;
    margin-bottom: 5px;
}
.get-image {
  padding: 40px;
  text-align: center;
  border: 1px solid #e4e4e4;
  border-radius: 5px;
}
.center-cropped {
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
  height: 200px;
  width: 200px;
  border: 1px solid #bbb;
  border-radius: 5px;
}
.close {
  border: none;
  background: white;
}
.btn-close{
  position: absolute;
  background-color: red;
}
